@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  body{
    margin: 0;
    padding: 0;
    background: #F1F1F3;
  }
  .btn-primery{
    background-color: #006A50;
    color: #ffffff;
    font-size: 18px;
    padding: 15px 20px;
    font-family: "Open Sans", serif;
    border-radius: 10px;
    border: none;
    transition: all 1s ;
  }
  .btn-primery:hover{
    background: #06b0f3;
    cursor: pointer;
  }
  .title{
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: #0E0E0E;
  font-size: 40px;
  }
  .discription{
  color: rgba(14, 14, 14, 50);
  font-size: 15px;
  font-family: "Open Sans", serif;
  }


/* =========== Header section ===========*/
header{
  max-width: 1170px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3{
    font-family: "Open Sans", serif;
    color: #0E0E0E;
    font-size: 32px;
}
nav a .header-btn{
  color: #006A50;
  font-size: 18px;
  padding: 10px 15px;
  background: none;
  font-family: "Open Sans", serif;
  border-radius: 10px;
  border-color: #006A50;
  transition: all 1s;
}
nav a .header-btn:hover{
  background: #006A50;
  color: #ffffff;
  cursor: pointer;
}

.banner{
  max-width: 1170px;
  margin: 20px auto;
  background: #C6E4D6; 
  border-radius: 20px;
  padding: 100px 40px;
}
.banner .banner-item{
  display: flex;
}
.banner .banner-item .banner-dis{
  color: rgba(14, 14, 14, 50);
  font-size: 24px;
  font-family: "Open Sans", serif;
}
.banner .banner-item .banner-title{
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: #0E0E0E;
  font-size: 51px;
}
.banner .image{
  margin-top: 50px;
}
/* =============piller part================== */


.piller{
  max-width: 1170px;
  margin: 60px auto;
}
.piller-items {
  display: flex;
  justify-content: space-between;
}
.piller .item-one{
  width: 250px;
  background: #ffffff;
  padding: 20px;
  border: 2px solid #cec5c5;
  border-radius: 20px;
  margin: 10px;
  transition: all 1s;
}
.piller .item-one:hover{
  background: #5490F5;
}
.piller .p-title{
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-weight: bold;
}
.piller .item-dis{
  font-family: "Open Sans", serif;
  font-size: 16px;
}

/* =============future part================== */
.future{
  max-width: 1170px;
  margin: 60px auto;
}

.future .f-items{
  display: flex;
  justify-content: space-between;
}
.future .f-item{
  width: 352px;
  background: #7ca1e252;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
}
.future .two{
  background: #bdc2ca52;
}
.future .three{
  background: #F7EBCF;
}

.future .f-item .f-title{
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-weight: bold;
}
.future .f-item .f-dis{
  font-family: "Open Sans", serif;
  font-size: 16px;
}
.future .f-item .btn-three{
  background: #FFC239;
  color: #ffffff;
}
.future .f-item .btn-one{
  background: #5490F5;
  color: #ffffff;
}

/* ================feedback=============== */
.feedback{
  max-width: 1170px;
  margin: 60px auto;
  background: url(/images/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  background-color: #ffffff;
  padding: 30px 20px;
  border: 1px solid #cec5c5;
  border-radius: 10px;
}

.feedback .feed{
  color: rgba(14, 14, 14, 50);
  font-size: 15px;
  font-family: "Open Sans", serif;
  margin: 0;
}
.feedback .name{
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: #0E0E0E;
  font-size: 24px;
  margin: 0;
}
.feedback .podobi{
  color: rgba(14, 14, 14, 50);
  font-size: 15px;
  font-family: "Open Sans", serif;
  margin: 0;
}

/* ================news=============== */

.news{
  max-width: 1170px;
  margin: 60px auto; 
}
.news .news-items{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;margin: 20px 0;
}
.news .news-items .image{
  width: 400px;
}
.news .news-items .image img{
  width: 100%;
  border-radius: 20px;
}
.news .news-items .text{
  width: 700px;
}
.news .news-items .text img{
  margin: -5px;
}
.news .news-items .text .time{
  font-size: 16px;
  color: #0E0E0E;
}
.news .news-items .text .news-title{
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: #0E0E0E;
  font-size: 30px;
}




/* ================Donate=============== */
.donate{
  max-width: 1170px;
  margin: 60px auto;
}
.donate .center{
  text-align: center;
}
.donate .money{
  display: flex;
  justify-content: space-between;
}

.donate .m-title{
  width: 200px;
  background: #ffffff;
  padding: 30px;
  border: 1 px solid #C6E4D6;
  border-radius: 10px;
}
.donate .m-title:hover{
  background: #a7c7b8;
  transition: all 1s ;
}
.donate .taka{
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #cec5c5;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 20px 40px;
  font-size: 24px;
  outline: 0;
  margin-left: 20px;
}

.d-btn {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
.donate-btn{
  text-align: center;
}
/* =============newsletter=============== */
.newsletter{
  max-width: 1170px;
  margin: 60px auto;
  text-align: center;
  background: #C6E4D6;
  border-radius: 10px;
}
.newsletter .items-news{
  padding: 80px 260px;
 }
 .problem{
  border: none;
  width: 400px;
  border-radius: 5px;
  padding: 13px 40px;
  font-size: 24px;
  outline: 0;
  margin-left: 20px;
 }
 .s-btn{
  background-color: #006A50;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 20px;
  font-family: "Open Sans", serif;
  border-radius: 0px 10px 10px 0px;
  border: none;
  transition: all 1s;
 }

 .s-btn:hover{
  background: #06b0f3;
  cursor: pointer;
}